<script>
	import { tooltip as ltooltip } from "leaflet/src/layer/Tooltip.js";

	import { setContext, getContext, onDestroy, onMount, afterUpdate } from "svelte";

	export let options = {};

	let map = getContext("leafletMapInstance");
	let layer = getContext("leafletLayer");
	let tooltipContent;

	let tooltip = ltooltip(options, layer).setLatLng(layer.getLatLng()).addTo(map);

	onMount(() => map.whenReady(() => tooltip.update()));

	onDestroy(() => tooltip.remove());

	function hide(node) {
		if (node) {
			tooltip.setContent(node);
		}
	}

	afterUpdate(() => {
		tooltip.update();
	});

	// The tooltip anchor is not calculated properly on first map load. Wait until
	// the map has polled the Leaflet CSS, then update the position of the popup.
	map.once("resize", () => {
		tooltip.update();
	});

	layer.on("move", () => tooltip.setLatLng(layer.getLatLng()));
</script>

<span use:hide>
	<slot />
</span>
