<script>
	import {
		LeafletMap,
		LeafletMarker,
		LeafletPopup,
		LeafletTooltip,
		LeafletTileLayer,
	} from "../src/";

	import { toLatLng } from "leaflet/src/geo/LatLng.js";

	let markerVisible = true;
	let markerName = "Null Island";
	let markerLatLng = toLatLng([0, 0]);

	let mapOptions = {};
	let mapCenter, mapZoom;

	let map;
</script>

<style>
	fieldset {
		position: absolute;
		width: 20vw;
	}
	label {
		display: block;
	}
</style>

<fieldset>
	<label>
		<input type="checkbox" bind:checked={markerVisible} />
		display marker
	</label>
	<label>
		Popup content:
		<input type="text" bind:value={markerName} />
	</label>
	<label>
		Latitude:
		<input type="number" bind:value={markerLatLng.lat} />
	</label>
	<label>
		Longitude:
		<input type="number" bind:value={markerLatLng.lng} />
	</label>
	<p>Map center: {mapCenter}</p>
	<p>Map zoom: {mapZoom}</p>
</fieldset>
<LeafletMap
	style="height:90vh; width: 80vw; position:absolute; left:20vw;"
	bind:center={mapCenter}
	bind:zoom={mapZoom}
	bind:map>
	<LeafletTileLayer
		url={'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'}
		options={{ attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' }} />
	{#if markerVisible}
		<LeafletMarker bind:latLng={markerLatLng} options={{ draggable: true }}>
			<LeafletPopup options={{ closeButton: false, closeOnClick: false }}>
				{markerName}
			</LeafletPopup>
			<LeafletTooltip options={{ permanent: true }}>
				{markerName}
			</LeafletTooltip>
		</LeafletMarker>
	{/if}
</LeafletMap>
