<script>
	import { create, getStyle } from "leaflet/src/dom/DomUtil.js";
	import { Map, createMap } from "leaflet/src/map/Map.js";

	// Import not only the map, but the stuff we consider "default" in a Leaflet map:
	// - Map interactivity handlers (drag pan, scroll zoom, etc)
	// - Zoom control, attribution control
	// (It's possible to create a Leaflet map without importing those, but since
	// they are activated by default due to map options)
	import { BoxZoom } from "leaflet/src/map/handler/Map.BoxZoom";
	Map.BoxZoom = BoxZoom;
	import { DoubleClickZoom } from "leaflet/src/map/handler/Map.DoubleClickZoom";
	Map.DoubleClickZoom = DoubleClickZoom;
	import { Drag } from "leaflet/src/map/handler/Map.Drag";
	Map.Drag = Drag;
	import { Keyboard } from "leaflet/src/map/handler/Map.Keyboard";
	Map.Keyboard = Keyboard;
	import { ScrollWheelZoom } from "leaflet/src/map/handler/Map.ScrollWheelZoom";
	Map.ScrollWheelZoom = ScrollWheelZoom;
	import { Tap } from "leaflet/src/map/handler/Map.Tap";
	Map.Tap = Tap;
	import { TouchZoom } from "leaflet/src/map/handler/Map.TouchZoom";
	Map.TouchZoom = TouchZoom;

	import { Zoom as ZoomControl } from "leaflet/src/control/Control.Zoom.js";
	import { Attribution as AttributionControl } from "leaflet/src/control/Control.Attribution.js";

	/// FIXME: Is there a way for Svelte to import the Leaflet CSS and include
	/// it in the component's CSS output?
	// The interim solution is to add something to <svelte:head> :-| and then
	// poll to check when it has loaded :-(
	// 	import "leaflet/dist/leaflet.css";

	import { setContext, onMount, onDestroy } from "svelte";

	export let style = "";
	let mapContainer;

	export let center = [0, 0];
	export let zoom = 1;

	export let options = {
		center,
		zoom,
	};

	let internalContainer = create("div");
	internalContainer.style.minWidth = "32px";
	internalContainer.style.minHeight = "32px";
	export let map = createMap(internalContainer, options);
	setContext("leafletMapInstance", map);

	onMount(() => {
		pollCssLoaded();
	});

	onDestroy(() => map.remove());

	// 	let onResize = map.invalidateSize;
	function onResize() {
		// 		console.log(ev);
		map.invalidateSize();
	}

	map.on("move", () => (center = map.getCenter()));
	map.on("zoom", () => (zoom = map.getZoom()));
	$: map.panTo(center);
	$: map.setZoom(zoom);

	// Since the CSS is loaded async'ly in <svelte:head> with no clear way of
	// knowing when it has been loaded, poll for the styles before invalidating
	// the map's size to re-position all layers.
	// Failing to do this would result in popups being horizontally misplaced, as the
	// contentWidth of the popup/tooltip contents would be calculated prior to the
	// popup styles being loaded, which means potentially way wider than it should.
	let pollRetries = 50;
	function pollCssLoaded() {
		var el = create("div", "leaflet-default-icon-path", document.body);
		var path =
			getStyle(el, "background-image") || getStyle(el, "backgroundImage"); // IE8
		document.body.removeChild(el);

		if (pollRetries < 0 || (path && path != "none")) {
			var c = map.getContainer();
			mapContainer.appendChild(c);
			c.style.width = "100%";
			c.style.height = "100%";
			map.invalidateSize();
		} else {
			pollRetries--;
			setTimeout(pollCssLoaded, 30);
		}
	}
</script>

<style>
	.map {
		height: 100vh;
		width: 100vw;
	}
</style>

<svelte:head>
	<link
		rel="stylesheet"
		href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<!-- 	<link rel="stylesheet" href="leaflet/dist/leaflet.css"/> -->
	<!-- 	<link rel="stylesheet" href="../node_modules/leaflet/dist/leaflet.css" /> -->
</svelte:head>
<div class="map" {style} bind:this={mapContainer} on:resize={onResize}>
	<slot />
</div>
